<%= form_with model: customer do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% customer.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf, maxlength: 11 %>
    <% customer.errors.full_messages_for(:cpf).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_field :age, type: :number %>
    <% customer.errors.full_messages_for(:age).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
    <% customer.errors.full_messages_for(:location).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :income %><br>
    <%= form.text_field :income, type: :number %>
    <% customer.errors.full_messages_for(:income).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>